/Afflabean/nbproject/private/
/Afflabean/build/
/AffableBean_snapshot1/nbproject/private/
/AffableBean_snapshot1/build/
/AffableBean_snapshot2/nbproject/private/
/AffableBean_snapshot2/build/
/AffableBean_snapshot2/AffableBean_snapshot2/nbproject/private/
/AffableBean_snapshot2/AffableBean_snapshot2/build/
/AffableBean_snapshot2/AffableBean_snapshot2/dist/
/Demo/target/
/WebApplication1/nbproject/private/
/WebApplication2/nbproject/private/
/WebApplication2/build/
/WebApplication2/dist/